In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler

In [102]:
customer_df = pd.read_csv("https://raw.githubusercontent.com/ironhack-labs/lab-cleaning-categorical-data/master/files_for_lab/we_fn_use_c_marketing_customer_value_analysis.csv")

In [103]:
customer_df

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [131]:
#Separating numerical columns from categorical
numerical_df = customer_df.select_dtypes(include=['int64', 'float64'])
categorical_df = customer_df.select_dtypes(include=['object'])

In [132]:
categorical_df

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,2/10/11,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,PK87824,California,Yes,Extended,College,2/12/11,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,TD14365,California,No,Extended,Bachelor,2/6/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,UP19263,California,No,Extended,College,2/3/11,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,Y167826,California,No,Extended,College,2/14/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [133]:
#Removing the outliers using Zscore
def remove_outliers_zscore(customer_df, numerical_df, threshold=3):
    z_scores = np.abs((numerical_df - numerical_df.mean()) / numerical_df.std())
    outliers = (z_scores > threshold).any(axis=1)
    return df[~outliers]

cleaned_df = remove_outliers_zscore(customer_df, numerical_df)

/var/folders/90/f_5cmr556cdb383szm1qgxzc0000gn/T/ipykernel_22762/3046037540.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  return df[~outliers]

In [134]:
#Checking the shape of the dataset without outliers
cleaned_df.shape

(6547, 21)

In [135]:
#Create a copy of the dataframe for the data wrangling.
cleaned_df_copy = cleaned_df.copy()

In [136]:
#Normalising continous variables using Min Max Scaler

In [137]:
numerical_data = cleaned_df_copy.select_dtypes(include=['int64', 'float64'])
categorical_data = cleaned_df_copy.select_dtypes(include=['object'])

scaler = MinMaxScaler()
numerical_data = scaler.fit_transform(numerical_data)

In [138]:
normalised_data = categorical_df.apply(lambda x: x.unique())

In [139]:
normalised_data

Customer             [BU79786, QZ44356, AI49188, WW63253, HB64268, ...
State                [Washington, Arizona, Nevada, California, Oregon]
Response                                                     [No, Yes]
Coverage                                    [Basic, Extended, Premium]
Education            [Bachelor, College, Master, High School or Bel...
Effective To Date    [2/24/11, 1/31/11, 2/19/11, 1/20/11, 2/3/11, 1...
EmploymentStatus     [Employed, Unemployed, Medical Leave, Disabled...
Gender                                                          [F, M]
Location Code                                 [Suburban, Rural, Urban]
Marital Status                             [Married, Single, Divorced]
Policy Type              [Corporate Auto, Personal Auto, Special Auto]
Policy               [Corporate L3, Personal L3, Corporate L2, Pers...
Renew Offer Type                      [Offer1, Offer3, Offer2, Offer4]
Sales Channel                        [Agent, Call Center, Web, Branch]
Vehicle Class        [Two-Door Car, Four-Door Car, SUV, Luxury SUV,...
Vehicle Size                                   [Medsize, Small, Large]
dtype: object

In [149]:
#Encoding categorical variables using the Label encoder
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [153]:
categorical_df.columns

Index(['Customer', 'State', 'Response', 'Coverage', 'Education',
       'Effective To Date', 'EmploymentStatus', 'Gender', 'Location Code',
       'Marital Status', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Vehicle Class', 'Vehicle Size'],
      dtype='object')

In [159]:
categorical_df['Coverage'] = le.fit_transform(categorical_df['Coverage'])
categorical_df['State'] = le.fit_transform(categorical_df['State'])
categorical_df['Customer'] = le.fit_transform(categorical_df['Customer'])
categorical_df['Response'] = le.fit_transform(categorical_df['Response'])
categorical_df['Education'] = le.fit_transform(categorical_df['Education'])
categorical_df['Effective To Date'] = le.fit_transform(categorical_df['Effective To Date'])
categorical_df['EmploymentStatus'] = le.fit_transform(categorical_df['EmploymentStatus'])
categorical_df['Gender'] = le.fit_transform(categorical_df['Gender'])
categorical_df['Location Code'] = le.fit_transform(categorical_df['Location Code'])
categorical_df['Marital Status'] = le.fit_transform(categorical_df['Marital Status'])
categorical_df['Policy Type'] = le.fit_transform(categorical_df['Policy Type'])
categorical_df['Policy'] = le.fit_transform(categorical_df['Policy'])
categorical_df['Renew Offer Type'] = le.fit_transform(categorical_df['Renew Offer Type'])
categorical_df['Sales Channel'] = le.fit_transform(categorical_df['Sales Channel'])
categorical_df['Vehicle Class'] = le.fit_transform(categorical_df['Vehicle Class'])
categorical_df['Vehicle Size'] = le.fit_transform(categorical_df['Vehicle Size'])

In [163]:
#Checking for numerical columns
categorical_df.dtypes

Customer             int64
State                int64
Response             int64
Coverage             int64
Education            int64
Effective To Date    int64
EmploymentStatus     int64
Gender               int64
Location Code        int64
Marital Status       int64
Policy Type          int64
Policy               int64
Renew Offer Type     int64
Sales Channel        int64
Vehicle Class        int64
Vehicle Size         int64
dtype: object